<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>全民免费彩票</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_114</string>
		<string>icon_retina</string>
		<string>icon-72</string>
		<string>icon</string>
		<string>icon-144</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.freelottery.quanmin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa45ff01dc73e9109</string>
				<string>QQ05FECBA4</string>
				<string>wb2455646689</string>
				<string>wb801460737</string>
				<string>rm226427cn.appgo.sharebyone</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Partner</key>
	<string>2088901182127834</string>
	<key>RSA private key</key>
	<string>MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBANrgyHM3gF3EP/8ziSbCzpGhxjEzf3FxVyFXrgBZNabkaZxh0gGlRstPmKngbw5nX7jWFLRiiE7Yutflzr9v/6vpPgab5fT9GvexKL31DUTSHI0aNbudURCYQAi3tF402cbVjjnc1PYyfB9wKD2XLtP2uqs4SgIY/IvK/IlGG+kzAgMBAAECgYEAhwRAQmqLQcwsmhVFVma3HDjJ1FHrHKSI1eWLTWW6Zd/ikff5ntBAUmwgRTJP73evIYrVrMxXPyQMZd+54HeLI3EKR18uyzWjpe9DcEopXVkEq4T2EmJnpkov2yGYpXp4nS4W0bnPzTV+x4Dk5Li4sABhQg85G0zmcj2kicRsfVECQQD80tMuyJ2o215jvOPhPVMzw2n4Yh9ms0ktXkrBPkpT4e66eexzs9lvNeZ+GUfuU9QUs7yk5AKcT7BpEAsRMKkrAkEA3aDG13QeLSpurFqzQYcwCNvsWlVNS8KPOywtap4uJrMwwuNQ69BpfzhV4v27SJtQ+0dv9NPkvSjgS7/G/dgsGQJBAJCgQbJ3jMj1hI9llK5amGf6F3rBFtl3IhtT30ugSICntBr0eDDP50hY+xuTdrR9O8sD7pwc2ul0JKRVSx9wSLUCQHNHksY1DxE9Ng4Oq5kVIYYqJtmh7y/OBsSnqQQBPU5B/MYSiV/vq0BSZFJK2qTcrRXXRcPah+tgnLKqEW6uh9kCQQDMQ4kUx4ivmTYrdJcple4D0QfmpPNv85Nbeo9SeL6IfobwtXLxNUv9iqnODFwKoF8JMg7O+6mBxucx9u6+iDC+</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZljOmiUN0E5Jv/FMHOPAwiyo+IWrAe1z0Cld6Wktz3UUAdAmGLqEQsU78FcPk9JEXKhG8wUUkkDAmwe9M6jX9wNu1kPnxxAk2Lnzv9j3qfJ7GjV4fz/5kBNHw3TMZfV3rKmuUoG/4AFtakAofR9ujMVrzPdmLw5hoPI5E6TDbfwIDAQAB</string>
	<key>Seller</key>
	<string>2088901182127834</string>
	<key>SignerIdentity</key>
	<string>Apple iPhone OS Application Signing</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
